# Project files
build*/
*.tar.bz2
*.h5

# SCons files
.sconsign.dblite
config.log

# Binary image files
*.png
*.jpg
*.pdf

# Abaqus output files
*.com
*.dat
*.msg
*.odb
*.prt
*.sim
*.sta
*.rpy*
*.cae
*.jnl

# Cubit output file
*.cub

# Sphinx/Python
__pycache__/
*.pyc
