[flake8]
exclude = build,install,conda-environment,conda-pkgs,pip-build-test
max-line-length = 120
extend-ignore = F821
per-file-ignores =
    test_system.py:E501
    rectangle.py:E221
    qoi.py:E203
