# Project files
build*/
quickstart_test/
test_quickstart/
*.tar.bz2
*.zip

# SCons files
.sconsign.dblite
config.log

# Python distribution/packaging files
_version.py
*.egg-info
dist/
conda-bld/
*.pyc

# Temp files
*.swp

# Binary image files
*.png
*.jpg

# Abaqus output files
*.com
*.dat
*.msg
*.odb
*.prt
*.sim
*.sta
*.rpy*
*.cae
*.jnl

# Cubit output file
*.cub

# parameter study utility output templates
parameter_study_meta.txt

# Sphinx/Python
__pycache__/
test_results.xml
systemtest_results.xml
coverage.xml

# NFS Files
*.nfs*

# MacOSX
.DS_Store

# PyCharm
.idea

# Pytest
.coverage
htmlcov
