# Project files
build/
*.tar.bz2

# SCons files
.sconsign.dblite
config.log

# Python distribution/packaging files
_version.py
*.egg-info
dist/
conda-build-artifacts/

# Temp files
*.swp

# Abaqus output files
*.com
*.dat
*.msg
*.odb
*.prt
*.sim
*.sta
*.rpy*
*.cae
*.jnl

# parameter study utility output templates
parameter_study_meta.txt

# Sphinx/Python
__pycache__/
test_results.xml
conda-bld/

# MacOSX
.DS_Store
