# Project files
pyproject.toml
build*/
install*/
quickstart_test/
test_quickstart/
modsim_template_test/
test_modsim_template/
*.tar.bz2
*.zip
*.h5
.scons_autocomplete
*.stdout
# Generated dynamically during some CI packaging opertions, e.g. PyPI style package
waves/docs
waves/README.rst
waves/pyproject.toml

# SCons files
.sconsign.dblite
config.log

# Python distribution/packaging files
_version.py
*.egg-info
dist/
conda-bld/
*.pyc

# Temp files
*.swp

# Binary image files
*.png
*.jpg

# Abaqus output files
*.com
*.dat
*.msg
*.odb
*.prt
*.sim
*.sta
*.rpy*
*.cae
*.jnl

# Cubit output file
*.cub
*.jou

# parameter study utility output templates
parameter_study_meta.txt

# Sphinx/Python
__pycache__/
test_results.xml
systemtest_results.xml
coverage*.xml

# MyPy
.mypy_cache

# NFS Files
*.nfs*

# MacOSX
.DS_Store

# PyCharm
.idea

# Spyder
.spyproject

# Pytest
.coverage
htmlcov
