recursive-include waves/modsim_template *
recursive-include waves/tutorials *
recursive-exclude docs *
recursive-exclude recipe* *
recursive-exclude modulefiles *
recursive-exclude .github *
exclude .gitlab-ci.yml
