recursive-include waves/docs *
recursive-include waves/tutorials *
recursive-include waves/modsim_template *
recursive-include waves/modsim_template_2 *
recursive-exclude waves/docs/.doctrees *
recursive-exclude build *
recursive-exclude install *
recursive-exclude conda-environment *
recursive-exclude conda-pkgs *
recursive-exclude pip-build-test *
recursive-exclude */*/build *
recursive-exclude */*/*/build* *
recursive-exclude *cache* *
recursive-exclude */*cache* *
recursive-exclude */*/*cache* *
recursive-exclude */*/*/*cache* *
recursive-exclude docs *
recursive-exclude recipe* *
recursive-exclude modulefiles *
recursive-exclude .github *
global-exclude *.pyc
global-exclude config.log
global-exclude .sconsign.dblite
exclude waves/docs/.buildinfo*
exclude find_shebang.py
exclude .flake8
exclude .git*
exclude .pipeline*.yml
exclude SConstruct
exclude style
exclude mypy
exclude pytest
exclude pyproject.toml.in
include waves/README.rst
include waves/pyproject.toml
