recursive-include waves/docs *
recursive-include waves/tutorials *
recursive-include waves/modsim_template *
recursive-include waves/modsim_template_2 *
recursive-exclude build *
recursive-exclude */*/build *
recursive-exclude */*/*/build* *
recursive-exclude docs *
recursive-exclude recipe* *
recursive-exclude modulefiles *
recursive-exclude .github *
global-exclude *.pyc
global-exclude config.log
global-exclude .sconsign.dblite
exclude package_documentation.py
exclude .git*
exclude .pipeline*.yml
exclude SConstruct
exclude style
exclude mypy
exclude pytest
