# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: 'true'
          fetch-depth: 0
      - name: MiniConda setup
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: ""
          miniforge-version: latest
      - name: Conda environment
        shell: bash -el {0}
        run: conda install 'scons>=4' 'setuptools>=64' 'setuptools_scm>=8' 'sphinx>=7.1' sphinx-argparse 'sphinx-copybutton>=0.5.1' 'sphinx_rtd_theme>=1' sphinxcontrib-bibtex h5netcdf h5py matplotlib-base networkx numpy pyyaml 'salib>=1' 'scipy>=1.7' xarray --yes
      - name: Build documentation
        shell: bash -el {0}
        run: repository_root=$(pwd) && mkdir -p ${repository_root}/pages/modsim-template && scons html && cp -r build/docs/html/* ${repository_root}/pages/ && cd waves/modsim_template && PYTHONPATH=${repository_root} scons html && cp -r build/docs/html/* ${repository_root}/pages/modsim-template
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload Github documentation build
          path: 'pages/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
